{
    "Server": {
        "site-name": "Web controller",
        "bind-ip": "localhost",
        "bind-port": 80,
        "ssl-cert": "",
        "ssl-key": "",
        "use-ssl": false,
        "print-errors": true,
        "print-http-errors": false,
        "log-requests": false,
        "routes-debug": false,
        "cache-router": true,
        "server-name": "Web controller",
        "auth-private-key": "",
        "auth-public-key": ""
    },
    "Users": {
        "root": {
            "name": "Administrator",
            "key": {
                "type": "password",
                "value": "64d09d9930c8ecf79e513167a588cb75439b762ce8f9b22ea59765f32aa74ca19d2f1e97dc922a3d4954594a05062917fb24d1f8e72f2ed02a58ed7534f94d27"
            },
            "granted": [
                "root-access",
                "users-control",
                "debug",
                "file-viewer-edit",
                "file-viewer-view"
            ],
            "granted-apps": [
                "file-viewer",
                "terminal",
                "test-app"
            ],
            "app-cookies": {
                "file-viewer": {
                    "path": "/"
                }
            },
            "background": "",
            "profile-picture": ""
        }
    },
    "Applications": {
        "file-viewer": "default-applications/files-viewer",
        "terminal": "default-applications/terminal",
        "test-app": "default-applications/test-app"
    }
}