{{ include: templates/header.html }}
<div id="auth-window" class="window" data-win-init-x="center" data-win-init-y="center" style="display: none;">
    <span class="window-event-blocker">
        <link rel="stylesheet" href="$assets/css/shared/billboard.css">
        <link rel="stylesheet" href="$assets/css/shared/loader.css">
        {{ if not: USER_IN }}
        <div class="billboard" id="auth-billboard" style="max-width: 400px;">
            <div class="billboard-headline">
                Sign in
                <md-icon id="auth-icon" class="override-material-icons">login</md-icon>
            </div>
            <style>
                #auth-failed {
                    font-size: medium;
                    width: max-content;
                    text-align: center;
                    padding: 0.5em;
                    border-radius: 4px;
                    min-width: 400px;
                }
            </style>
            <div class="error" id="auth-failed" style="display:none"></div>
            <form id="auth-form" class="billboard-form" autocomplete="on">
                <md-outlined-text-field label="Username" id="auth-form-login" style="width:100%;min-width:400px"
                    autocomplete="username">
                </md-outlined-text-field>
                <md-outlined-text-field type="password" label="Key or password" id="auth-form-key"
                    style="width:100%;min-width:400px" autocomplete="current-password">
                </md-outlined-text-field>
                <input value="{{ CSRFProtection }}" id="csrf" style="display:none">
            </form>
            <div class="billboard-buttons">
                <md-filled-tonal-button id="auth-action" autofocus>
                    Let's go!
                </md-filled-tonal-button>
            </div>
        </div>
        <div class="billboard" id="auth-success" style="display: none;">
            <div class="billboard-headline">
                Congrats!
                <md-icon id="auth-icon" class="override-material-icons">check_circle</md-icon>
            </div>
            <div class="billboard-form">
                <span>You've made it!</span>
                <span style="font-size: small;">You'll be moved to the main page in a second...</span>
            </div>
        </div>
        {{ else }}
        <div class="billboard" id="signout-billboard">
            <div class="billboard-headline">
                Sign out
                <md-icon id="auth-icon" class="override-material-icons">logout</md-icon>
            </div>
            <div class="billboard-form">
                <span>You are currently logged as {{ USER_NAME }} ({{ USER_ID }}).</span>
                <span>Are you sure you want to sign out?</span>
            </div>
            <div class="billboard-buttons">
                <md-filled-tonal-button id="signout-action" autofocus>
                    Let's go...
                </md-filled-tonal-button>
            </div>
        </div>
        {{ end }}
        <div class="loader" style="display:none" id="auth-loader"></div>
        <script src="/$assets/js/pages/auth.js"></script>
    </span>
</div>
{{ include: templates/footer.html }}