{{ include: templates/header.html }}
<div class="window" data-win-init-x="center" data-win-init-y="center" style="display: none;">
    <span class="window-event-blocker">
        <link rel="stylesheet" href="$assets/css/shared/billboard.css">
        <div class="billboard">
            <div class="billboard-headline" style="justify-content:center">
                Error {{ ERROR_CODE }}: {{ ERROR_HUMAN_NAME }}
                <md-icon class="override-material-icons">error</md-icon>
            </div>
            <div class="billboard-form" autocomplete="on">
                {{ ERROR_DESCRIPTION }}
            </div>
            <div class="billboard-buttons">
                <md-filled-tonal-button href="/" value="back" id="error-action" autofocus>
                    Return to main page
                </md-filled-tonal-button>
            </div>
        </div>
        <script>
            addToStack("log-stack", $(`<i>{{ ADDITIONAL_ERROR_INFO }}</i>`));
        </script>
    </span>
</div>
{{ include: templates/footer.html }}